<html>
<head>
<title>Title</title>

<!-- Jquery: required for Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

<!-- Bootstrap: CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Bootstrap: Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Bootstrap: JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- proto custom -->
<link rel="stylesheet" type="text/css" href="style.css">


<script>
$('.ls-modal').on('click', function(e){
  e.preventDefault();
  $('#mymodal').modal('show').find('.modal-content').load($(this).attr('href'));
});
</script>

</head>
<style>


</style>
<body>

<div class="container">
  <img class="habitat" id="pelagic" src="./svg/pelagic.png"/>
  <!--img class="svg" id="pinniped" src="./svg/pinniped.svg" alt="pinniped"/-->
  
  
  <!--a data-toggle="modal" href="erddap_iea.html" data-target="#mymodal"-->
  <a href='erddap_iea.html' class='ls-modal'>
  <span>
  <!--begin.rcode echo=F, results='asis'
    cat(readLines('svg/pinniped.svg'))
  end.rcode-->
  </span>
  </a>
  
</div>

python -m http.server 8000
http://localhost:8000

<!-- Large modal -->
<div id="mymodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      ...model content...
    </div>
  </div>
</div>

<!--script>
 $(function () { $('#mymodal').modal({
    keyboard: true
 })});
</script-->

</body>
</html>
