.container {
    position: relative;
}

span #pinniped {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    fill: red;
}
span:hover #pinniped path { 
    /* TODO: shadow or glow */
}

.habitat {
    width: 100%;
    height: auto;
    opacity: 0.3;
}
